/* Estilos Generales */

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.logo{
    width: 150px;
}
footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background-color: #737070;
    text-align: center;
}
.footer-contact{
    position: absolute;
}

.footer-stats{
    position: absolute;
}
.footer-data{
    position: absolute;
}
.redes a{
    margin: 0 6px;
}
.redes{
    text-align: center;
}
.text{
    font-size: 13px;
}
.text-dos{
    text-align: center;
    font-size: 13px;
}

.btn{
    --bs-btn-color: #fff;
    --bs-btn-bg: #d63384;
    --bs-btn-border-color: #d63384;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d63384;
    --bs-btn-hover-border-color: #d63384;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d63384;
    --bs-btn-active-border-color: #d63384;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d63384;
    --bs-btn-disabled-border-color: #d63384;
}

.card-img-top{
    height: 190px;
}
.card{
    height: 382px;
}
.card-body{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.carousel-home{
    display: none !important;
}
 /* Estilos para el navbar */
  .navbar{ 
    background-color: #737070 !important;
  }
  .nav-item a{
    color: #fff;
  }
  .nav-item .active{
    color: #fff !important;
  }

  /* Estilos para el Home */
  .about-us{
    font-size: 1.4em;
  }
  .about-sect h2{
    color: #d63384;
  }
  .about-sect{
    text-align: center;
  }
  .span-color{
    color: #d63384;
    font-size: 1.3em;
    font-weight: bold;
  }
  .spans-about{
    height: 100px;
    
  }
  .spans-about span{
   
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(15) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .span-edit-one{
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    color: #e668a7;
    left: 10px;
    bottom: 240px;
  }
  .span-edit-two{
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    color: #d63384;
    left: 30px;
    bottom: 200px;
  }
/* Estilos para el carousel de cards de eventos */

.carousel-cards{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.carousel-item active{
    height: 390px;
}

.card-btn{
    display: flex;
    justify-content: space-between;
}
.card-btn span{
    align-self: center;
}

.cards-expand{
    display: none;
}

/* Estilos para el form de busqueda  */

.form-expand{
    display: none;
}
.btn-outline-success {
    --bs-btn-color: #d63384;
    --bs-btn-border-color: #d63384;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d63384;
    --bs-btn-hover-border-color: #d63384;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d63384;
    --bs-btn-active-border-color: #d63384;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #d63384;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d63384;
    --bs-gradient: none;
}
.form-check-input:checked{
background-color: #e668a7;
border-color: #fff;
}

/* Estilos para el form de contact  */
form{
    margin-top: 30px;
}
.form-text{
    resize: none;
    height: 100px !important;
}
 /* Estilo para la tabla */
 .table{
    min-width: 480px;
    width: 80%;
    border: 1px solid #737070;
    border-collapse: collapse;  
    margin: 0 auto;
    background-color:#737070 ;
    overflow-x: scroll;
 }
 .table-tittle{
    background-color: #737070;
 }
 tr{
    border: 1px solid #737070;
    width: 100%;
    font-size: .8rem;
 }
 td{
    border: 1px solid #737070;
    background-color: #fff !important;
 }
 /* Estilo para el Data */
 .main-cont{
    width: 100%;
 }
 .div-img img{
    width: 100%;
 }
 .div-data{
    min-width: 300px;
    border: 1px solid #c7c7c7;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 9px 10px 9px 0px rgba(115,103,103,0.75);
 }
 .div-text{
    display: flex;
    flex-direction: column;
 }
 .div-text h1{
    text-align: center;
 }
 .div-text ul{
    list-style: none;
 }

 @media (min-width:320px){
    .div-data{
        max-width: 340px;
    }
   
}

/* Media query para celular Grande */


@media (min-width:480px){
    .form_article{
        display: none;
    }
    .form-expand{
        display: block;
        margin: 0 auto;
    }
   
}
/* Media query para tablet Med*/
@media (min-width:600px){
    .div-data{
        max-width: 940px;
        width: 70%;
        height: 350px;
        border: 1px solid #737070;
        display: flex;
        flex-direction: row;
        padding: 50px 20px;
        margin: 100px auto;
     }
     .div-img{
        height: 200px;
     }
     .div-img img{
        height: 100%;
     }
     .div-text {
        text-align: center;
     }
     .span-edit-one{
        left: 10px;
        bottom: 440px;
      }
      .span-edit-two{
        left: 30px;
        bottom: 390px;
      }
      .carousel-home{
        display: flex !important;
      }
      .footer-home{
        position: relative;
      }
}
/* Media query para tablet*/

@Media (max-width:768px){
    .nav-item:hover{
        background-color: #e668a7; 
     }
    
     .nav-item a:hover{
        margin-left: 10px;
        transition: 1s all;
     }

}



@Media (min-width:768px){
    .nav-item:hover{
        border-bottom: 2px solid #e668a7; 
     }
    
     .nav-item a:hover{
        margin-left: 10px;
        transition: 1s all;
     }
    
    
}
 
/* Media query para tablet grande*/

@media (min-width:992px){
    .carousel-cards{
        display: none;
    }
    .cards-expand{
        display: flex;
    }
    footer{
        position: static;
    }
    .col-card{
        margin: 10px 0;
    }
    form{
        width: 700px;
        margin: 0 auto;
    }

    .row-center{
        margin: 20px auto;
    }
    .carousel-home{
        display:none !important ;
    }
    .span-edit-one{
        left: 10px;
        bottom: 500px;
      }
      .span-edit-two{
        left: 30px;
        bottom: 460px;
      }
}
@media (max-width:992px){
    .div-img {
        height: 200px;
    }
    .div-img img{
        object-fit: cover;
    }
    .div-img img{
        height: 100%;
    }
 

}

